@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-4xl mx-auto container-padding;
  }

  .container-xs {
    @apply max-w-4xl mx-auto;
  }

  .container-xl {
    @apply max-w-screen-2xl mx-auto container-padding;
  }

  .container-fluid {
    @apply container-padding;
  }

  .button {
    @apply inline-flex items-center space-x-2 px-12 py-6 rounded-full font-semibold uppercase transition;
  }

  .heading {
    @apply text-4xl font-bold;
  }

  .badge {
    @apply px-3 py-1 border text-xs rounded-full flex items-center space-x-2 font-semibold select-none;
  }

  .card {
    @apply bg-white text-zinc-700 border-2 border-b-8 rounded-xl border-gray-100  hover:border-teal-400;
  }

  .overlay {
    @apply absolute inset-0 text-white transition;
  }
}

@layer utilities {
  .container-padding {
    padding-left: 4%;
    padding-right: 4%;
  }

  .text-link {
    @apply hover:opacity-70;
  }

  .button-link {
    @apply hover:bg-opacity-80;
  }

  .hero-title {
    @apply text-5xl font-medium;
  }

  .hero-desc {
    max-width: 540px;
    line-height: 1.4;
  }

  .tracking-custom {
    letter-spacing: -0.03em;
  }

  @media screen(sm) {
    .hero-title {
      font-size: 80px;
      line-height: 1.05;
    }
  }
}

body {
  @apply dark:bg-main-black dark:text-white;
}
